<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Test Seite </title>
</head>

<body>

    <h1>Create something:</h1>

    <!--  
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}         
         -->

    <form th:action="@{/addSomething}" th:object="${data}" method="POST">
        Name:
        <input type="text" th:field="*{name}" />
        <br />
        <input type="submit" value="Create" />
    </form>

    <br />

    <!-- Check if errorMessage is not null and not empty -->

    <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;">
        ...
    </div>

</body>

</html>
