<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Oops!</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>
    <h1>Oops!</h1>
    <img th:src="@{/MissingPage.png}" />
    <p>Es gibt ein Problem mit der angefragten Webseite: <span th:text="${path}" /></p>
    <p th:text="${'Fehler:    ' + status + ', ' + error + ', ' + exception}" />
    <p th:text="${'Meldung:   ' + message}" />
    <p th:text="${'Zeitpunkt: ' + #dates.format( timestamp, 'yyyy-MM-dd HH:mm:ss' )}" />

</body>

</html>
